.box {
  padding: 4rem 4rem 8rem 4rem;
  background-color: #f5f5f5;
}

.first-section {
  text-align: center;
}

.about-us-text h2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.about-us-text p {
  margin: 30px auto;
  width: 50%;
  letter-spacing: 0.7px;
  font-size: 1.1rem;
  line-height: 21px;
}

.about-us-text h3 {
  color: var(--secondary-pink-3);
  font-size: 1.7rem;
  margin: 30px 0 40px 0;
}

.service-button {
  border: 5px solid #1f1f1f;
  background-color: #1f1f1f;
  padding: 10px 30px;
  font-size: 2rem;
  letter-spacing: 0.6px;
  color: var(--secondary-pink-1);
  position: relative;
  transition: 0.3s ease-in-out;
}

.service-button::before,
.service-button::after {
  position: absolute;
  content: '';
  border: 1px solid var(--secondary-pink-1);
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.service-button::before {
  top: 0;
  left: 0;
}

.service-button::after {
  bottom: 0;
  right: 0;
}

.service-button:hover,
.service-button::after {
  color: var(--secondary-pink-3);
}

.service-button:hover::after,
.service-button:hover::before {
  border: 1px solid var(--secondary-pink-3);
}

.first-section hr {
  margin-top: 50px;
  width: 70%;
  background-color: var(--secondary-pink-3);
  border: 1px solid var(--secondary-pink-3);
}

.faq-wrap h3 {
  margin: 50px 0 20px 0;
  font-size: 32px;
}

.faq {
  grid-template-columns: repeat(2, 1fr);
}

.faq > .faq-section {
  width: 80%;
  justify-self: center;
  align-self: flex-start;
}

.faq > .faq-section hr {
  width: 80%;
  margin-top: 40px;
}

.faq > .faq-section h4 {
  font-size: 1.3rem;
  margin: 20px auto 10px auto;
  width: 80%;
}

.faq > .faq-section p {
  width: 70%;
  color: #888f9b;
  text-align: center;
  margin: 0 auto;
}

.our-saloon h3 {
  margin: 40px 0 20px 0;
  letter-spacing: 0.5px;
  font-size: 34px;
}

@media screen and (max-width: 800px) {
  .box {
    padding: 4rem 1.5rem;
  }

  .about-us-text p {
    width: 80%;
  }

  .faq > .faq-section {
    width: 95%;
  }

  .faq > .faq-section p {
    width: 85%;
  }
}
