.card {
  padding: 2rem 4rem 8rem 4rem;
}

.card h1 {
  text-align: center;
  color: var(--secondary-pink-3);
  font-size: 2.5rem;
  border-bottom: 1.5px solid var(--secondary-pink-3);
  padding-bottom: 15px;
  letter-spacing: 0.8px;
  user-select: none;
}

.content {
  padding-top: 4rem;
  grid-template-columns: 25% 50%;
  justify-content: space-evenly;
}

.left-section {
  padding-top: 6vmin;
  text-align: center;
}

.left-section h4 {
  font-size: 28px;
  margin: 20px 0 5px 0;
  letter-spacing: 0.8px;
}

.left-section p {
  letter-spacing: 0.6px;
  line-height: 23px;
  font-size: 20px;
  color: #1a1a1a;
}

@media screen and (max-width: 800px) {
  .card {
    padding: 0;
  }

  .content {
    display: block;
  }

  .left-section,
  .right-section {
    margin-bottom: 3rem;
    padding-top: 0;
  }
}
