.upper-main-image {
  position: absolute;
  top: 60px;
  right: 60px;
}

.upper-main-image img {
  width: 300px;
  height: 449.766px;
}

.upper-main-image p {
  margin-top: 5px;
  font-size: 1.1rem;
  width: 295px;
}

.main {
  margin-bottom: 10%;
}

.main svg {
  transform: translateY(5px);
}

.first-section {
  justify-content: center;
  padding-bottom: 4rem;
}

.first-section > .main-title h1 {
  font-size: 80px;
  margin: 0 16rem 20px 0;
  line-height: 85px;
  user-select: none;
}

.second-part-of-title {
  color: var(--secondary-pink-3);
}

.kontakt-button {
  border: 5px solid #0f0f0f;
  background-color: #0f0f0f;
  padding: 10px 30px;
  font-size: 32px;
  color: var(--secondary-pink-1);
  margin-bottom: 20px;
  display: block;
  width: fit-content;
  position: relative;
  transition: 0.3s ease-in-out;
}

.kontakt-button::before,
.kontakt-button::after {
  position: absolute;
  content: '';
  border: 1px solid var(--secondary-pink-1);
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.kontakt-button::before {
  top: 0;
  left: 0;
}

.kontakt-button::after {
  bottom: 0;
  right: 0;
}

.kontakt-button:hover {
  color: var(--secondary-pink-3);
}

.kontakt-button:hover::after,
.kontakt-button:hover::before {
  border: 1px solid var(--secondary-pink-3);
}

.two-images-in-row {
  grid-template-columns: 50% 50%;
}

.interior-image-wrap {
  position: relative;
  justify-self: center;
}

.interior-image {
  border-radius: 3%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 650px;
  height: 365.625px;
  display: block;
  overflow: hidden;
}

.interior-image-wrap:last-child {
  margin-top: 100px;
}

.interior-image-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 365.625px;
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  opacity: 0.45;
  z-index: 2;
  border-radius: 3%;
}

.second-section,
.third-section {
  margin: 10rem auto;
  width: 65%;
  position: relative;
}

.second-section {
  grid-template-columns: 600px calc(100% - 600px);
}

.third-section {
  grid-template-columns: calc(100% - 600px) 600px;
}

.circle span,
.second-circle span {
  position: absolute;
  top: -80px;
  transform-origin: 0px 90px;
  font-size: 18px;
  color: var(--secondary-pink-4);
  text-transform: uppercase;
}

.circle span {
  left: 0;
}

.second-circle span {
  right: 0;
}

.right-div,
.left-div {
  margin: 0 25px;
  max-width: 600px;
}

.right-div h4::before,
.left-div h4::before {
  content: '';
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color: var(--secondary-pink-3);
  transition: all 0.7s ease-in-out;
}

.left-div h4,
.right-div h4 {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 24px;
  color: var(--secondary-pink-3);
  position: relative;
}

.right-div h4 {
  text-align: right;
}

.right-div h4::before {
  width: 75px;
  right: 0;
}

.left-div h4::before {
  width: 100px;
  left: 0;
}

.second-section:hover h4::before {
  right: 35px;
}

.third-section:hover h4::before {
  left: 35px;
}

.right-div h2,
.left-div h2 {
  margin: 30px 0;
  font-size: 48px;
  letter-spacing: 0.5px;
}

.left-div h2 {
  text-align: right;
}

.right-div p,
.left-div p {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  max-width: 400px;
  color: #1a1a1a;
}

.left-div p {
  margin-left: auto;
  text-align: right;
}

.right-div--link,
.left-div--link {
  font-size: 24px;
  margin-left: 10px;
  color: #1a1a1a;
  position: relative;
  transition: all 0.7s ease-in-out;
}

.left-div--link {
  margin-right: 10px;
}

.right-div--link::before,
.left-div--link::before {
  content: '';
  position: absolute;
  top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-pink-3);
}

.right-div--link::before {
  left: -10px;
}

.right-div--link:hover {
  margin-left: 20px;
}

.left-div--link::before {
  right: -10px;
}

.left-div--link:hover {
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .upper-main-image {
    position: relative;
    right: 0;
    top: 0;
    height: 420px;
    width: 100%;
    display: grid;
    margin-bottom: 50px;
  }

  .upper-main-image img {
    height: calc(449.766px / 1.3);
    width: auto;
    justify-self: right;
  }

  .upper-main-image p {
    width: 230px;
    justify-self: right;
  }

  .first-section {
    justify-content: unset;
    padding-bottom: 1.5rem;
  }

  .first-section > .main-title h1 {
    font-size: 64px;
    margin: 0 0 20px 10px;
    line-height: 65px;
  }

  .kontakt-button {
    margin-left: 10px;
  }

  .two-images-in-row,
  .second-section,
  .third-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .second-section,
  .third-section {
    margin: 8rem auto;
    width: 90%;
  }

  .right-div {
    padding-top: 20px;
  }

  .right-div,
  .left-div {
    margin: 0 5px;
  }

  .interior-image {
    width: auto;
    height: calc(365.625px / 2);
  }

  .interior-image-wrap::before {
    height: calc(365.625px / 2);
  }

  .interior-image-wrap:last-child {
    margin-top: 40px;
  }

  .second-section img,
  .third-section img {
    width: 100%;
    height: auto;
  }

  .third-section img {
    transform: scaleX(-1);
  }

  .circle,
  .second-circle {
    display: none;
  }
}
