.upper-main-image {
  position: absolute;
  top: 100px;
  right: 120px;
  width: 200px;
}

.upper-main-image p {
  margin-top: 15px;
  font-size: 1.1rem;
  width: 300px;
}

.main {
  display: block;
  box-sizing: border-box;
  margin-bottom: 10%;
}

.first-section {
  display: flex;
  justify-content: center;
}

.first-section > .main-title h1 {
  font-size: 5rem;
  margin-right: 16rem;
  line-height: 85px;
  margin-bottom: 20px;
}

.second-part-of-title {
  color: var(--secondary-pink-3);
}

.kontakt-button {
  border: 5px solid black;
  background-color: black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2rem;
  color: var(--secondary-pink-1);
  margin-bottom: 20px;
  display: block;
  width: fit-content;
  position: relative;
  transition: 0.5s ease-in-out;
}

.kontakt-button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid var(--secondary-pink-1);
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.kontakt-button::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  border: 1px solid var(--secondary-pink-1);
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.kontakt-button:hover {
  color: var(--secondary-green-4);
}

.kontakt-button:hover::after,
.kontakt-button:hover::before {
  border: 1px solid var(--secondary-green-4);
}

.spacer-with-images {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 8% 3% 3% 3%;
}

.interior-img {
  position: relative;
}

.interior-img img {
  z-index: 1;
  border-radius: 3%;
  position: relative;
  box-shadow: 10px 5px 15px #000;
  width: 45vmax;
}

.interior-img:last-child {
  margin-top: 170px;
}

.interior-img::before {
  content: '';
  position: absolute;
  width:  100%;
  height: calc(100% - 3px);
  top: 0;
  right: 0px;
  background-color: #000;
  opacity: 0.45;
  z-index: 2;
  border-radius: 3%;
}

.interior-img:first-child::before {
  height: calc(100% - 172px);
}

.second-section {
  margin: 12% 5% 5% 5%;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
}

.second-section img,
.third-section img {
  width:60%;
  height: auto;
}

.second-section img {
  position: relative;
}

.circle,
.second-circle {
  z-index: 4;
  position: relative;
}

.circle span {
  position: absolute;
  top: -80px;
  left: 0;
  transform-origin: 10px 90px;
  font-size: 20px;
  color: var(--secondary-green-4);
  text-transform: uppercase;
}

.second-circle span {
  position: absolute;
  top: -80px;
  right: 0;
  transform-origin: 10px 90px;
  font-size: 20px;
  color: var(--secondary-green-4);
  text-transform: uppercase;
}

.circle > .text {
  position: absolute;
  z-index: 4;
  color: var(--secondary-green-4);
  text-transform: uppercase;
}

.second-section > .right-div {
  margin-left: 4%;
  max-width: 600px;
}

.second-section > .right-div h4 {
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 1.5rem;
  color: var(--secondary-pink-3);
  text-align: right;
  position: relative;
}

.right-div h4::before {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 0px;
  height: 2px;
  background-color: var(--secondary-pink-3);
  width: 75px;
  transition: right 0.7s ease-in-out;
}

.second-section:hover h4::before {
  right: 35px;
}

.second-section > .right-div h2 {
  font-size: 3rem;
}

.second-section > .right-div p {
  margin-top: 20px;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  max-width: 400px;
}

.right-div > .right-div--link {
  font-size: 1.5rem;
  margin-left: 10px;
  color: black;
  position: relative;
  transition: 0.7s ease-in-out;
  letter-spacing: 0.3px;
}

.main svg {
  transform: translateY(20%);
}

.right-div > .right-div--link::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-green-4);
}

.right-div > .right-div--link:hover {
  margin-left: 20px;
}

.third-section {
  margin: 12% 10% 5% 5%;
  display: flex;
  justify-content: center;
  width: 80%;
}

.third-section > .left-div {
  margin-right: 4%;
  max-width: 600px;
}

.third-section > .left-div h4 {
  margin-left: 8%;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 1.5rem;
  color: var(--secondary-pink-3);
  position: relative;
}

.left-div h4::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0px;
  height: 2px;
  background-color: var(--secondary-pink-3);
  width: 100px;
  transition: left 0.7s ease-in-out;
}

.third-section:hover h4::before {
  left: 35px;
}

.third-section > .left-div h2 {
  font-size: 3rem;
  text-align: right;
  margin-bottom: 30px;
}

.third-section > .left-div p {
  max-width: 400px;
  float: right;
  font-size: 1.3rem;
  text-align: right;
  margin-bottom: 30px;
  display: block;
}

.left-div--link {
  font-size: 1.5rem;
  margin-right: 10px;
  color: black;
  position: relative;
  transition: 0.7s ease-in-out;
  letter-spacing: 0.3px;
}

.left-div--link::before {
  content: '';
  position: absolute;
  right: -10px;
  top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-green-4);
}

.left-div--link:hover {
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .upper-main-image {
    display: none;
    right: 0;
    top: 100px;
  }

  .first-section {
    display: block;
  }

  .first-section > .main-title h1 {
    font-size: 4rem;
    margin-right: 0;
    margin-left: 10px;
    line-height: 65px;
    margin-bottom: 20px;
  }

  .kontakt-button {
    margin-left: 10px;
  }

  .spacer-with-images {
    display: block;
    margin-bottom: 8rem;
  }

  .interior-img img {
    width: 82vmin;
  }

  .interior-img::before {
    position: absolute;
    width: 82vmin;
    height: calc(100% - 3px);
    top: 0;
    left: 0px;
  }

  .interior-img:first-child::before {
    height: 100%;
  }

  .interior-img:last-child {
    margin-top: 30px;
    margin-left: 40px;
  }

  .second-section,
  .third-section {
    display: block;
  }

  .second-section img,
  .third-section img {
    width: 85vmin;
  }

  .third-section img {
    transform: scaleX(-1);
  }

  .second-section > .right-div,
  .third-section > .left-div {
    width: 85vmin;
  }

  .second-section > .right-div {
    margin-left: 0;
  }

  .second-section > .right-div h4 {
    position: absolute;
    top: -35px;
    right: 20px;
  }

  .second-section > .right-div h4::before {
    width: 70px;
    right: -22px;
  }

  .third-section > .left-div h2,
  .second-section > .right-div h2 {
    margin-bottom: 10px;
  }

  .third-section > .left-div p,
  .second-section > .right-div p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .third-section > .left-div h4::before {
    width: 70px;
    left: -27px;
  }

  .circle span {
    left: 55px;
    top: -60px;
  }

  .second-circle span {
    right: 55px;
    top: -140px;
  }
}
