.card {
  padding: 4rem 2rem;
}

.image-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.image-box::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  background-color: #000;
  opacity: 0.45;
  z-index: 2;
  border-radius: 3%;
}

.image-box img {
  margin: auto 0;
  width: 80%;
  border-radius: 3%;
}

.image-box h1 {
  color: var(--secondary-pink-1);
  text-align: center;
  z-index: 4;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: absolute;
  font-size: 50px;
  line-height: 54px;
  top: 30%;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  user-select: none;
}

.service-card {
  display: flex;
  justify-content: center;
}

.services-section {
  width: 70%;
  margin-top: 5rem;
}

.services-section h2 {
  text-align: center;
  user-select: none;
  font-size: 24px;
  color: var(--secondary-pink-3);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid var(--secondary-pink-3);
}

.services-section > .choice {
  display: flex;
  width: 100%;
  padding: 0 5%;
  text-align: center;
  margin: 1rem 0;
}

.choice > .man,
.choice > .female {
  width: 50%;
  padding: 1.4rem 0;
  transition: all 1s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.8px;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  user-select: none;
}

.choice > .man {
  background-color: lightblue;
}

.choice > .female {
  background-color: lightcoral;
  border-right: 2px solid #000;
}

.choice > .man:hover,
.choice > .female:hover,
.choice > .man:active,
.choice > .female:active {
  width: 75%;
}

.three-images-in-row {
  margin-bottom: 2.5rem;
}

.three-images-in-row h3 {
  margin-bottom: 1rem;
  font-size: 22px;
  letter-spacing: 0.7px;
}

.three-images-in-row img {
  margin: 0 1rem;
  border: 4px solid;
  border-color: #000;
  border-radius: 50%;
  padding: 1rem;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.three-images-in-row img:hover,
.three-images-in-row img:active {
  background-color: rgb(206, 98, 98);
  padding: 0.7rem;
}

.active {
  background-color: rgb(206, 98, 98);
  border-color: rgb(206, 98, 98) !important;
}

.blur {
  filter: blur(4px);
}

.selected-choice {
  margin-top: 3rem;
  text-align: center;
}

.selected-choice h4 {
  font-size: 24px;
  letter-spacing: 0.8px;
  margin: 1rem 0 5px 0;
}

.selected-choice p {
  font-size: 17px;
  letter-spacing: 0.7px;
  color: #1a1a1a;
}

.selected-choice hr {
  margin-top: 10px;
  width: 50%;
  background-color: var(--secondary-pink-3);
  border: 1px solid var(--secondary-pink-3);
}

.three-in-row {
  margin: 2rem 0;
  width: 33%;
  display: inline-block;
}

.ceny {
  display: flex;
  justify-content: space-around;
}

.ceny h5 {
  font-size: 18px;
  margin: 0.8rem 0 1rem 0;
}

@media screen and (max-width: 800px) {
  .image-box img,
  .image-box::before,
  .services-section,
  .selected-choice hr {
    width: 100%;
  }

  .image-box h1 {
    width: 100%;
    font-size: 32px;
    top: 20%;
  }

  .three-in-row {
    display: contents;
  }

  .selected-choice h4 {
    font-size: 28px;
  }

  .selected-choice p,
  .ceny h5 {
    font-size: 17px;
  }
}
