.header {
  display: grid;
  grid-template-columns: 400px calc(100% - 400px);
  column-gap: 4rem;
  padding: 2rem;
}

.header h2 {
  font-size: 48px;
  text-align: center;
  color: rgb(46, 46, 46);
}

.title--second-row {
  color: var(--secondary-pink-4);
}

@media screen and (max-width: 800px) {
  .header {
    display: block;
  }

  .header h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .logo {
    pointer-events: none !important;
  }
}
