.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  text-align: center;
  width: fit-content;
}

.navbar-800 {
  display: none;
}

.menu-item {
  color: var(--secondary-pink-0);
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
  letter-spacing: 0.6px;
  font-size: 24px;
  padding-bottom: 5px;
  transition: all 0.4s;
  width: fit-content;
}

.menu-item:hover {
  color: var(--secondary-pink-3);
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 8;
  }
  
  .hamburger-menu-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    z-index: 4;
  }

  .navbar-800 {
    display: flex;
  }

  .navbar-menu-800 {
    position: absolute;
    top: 0%;
    width: 75%;
    height: 100%;
    right: 0;
    text-align: center;
    z-index: 10;
  }

  .menu-item-800 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    height: 20.8%;
    width: 100%;
    background-color: var(--secondary-pink-2);
    z-index: 12;
  }

  .menu-item-800::before {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(
      90deg,
      var(--secondary-pink-2) 0%,
      var(--secondary-pink-2) 25%,
      var(--secondary-pink-2) 50%,
      var(--secondary-pink-2) 75%,
      var(--secondary-pink-4) 100%
    );
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  .menu-item-800 span {
    color: #44474d;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 1.5rem;
  }

  .menu-item-800 span,
  .menu-item-800:hover span {
    z-index: 3;
  }
}
