.footer {
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 1;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: var(--secondary-pink-0);
}

.footer p {
  line-height: 23px;
  color: #888f9b;
}

.first-section,
.second-section,
.third-section {
  display: block;
}

.call-icon {
  margin-top: 10px;
  position: absolute;
  color: #888f9b;
}

.third-section p {
  margin-top: 5px;
  font-size: 1.3rem;
  transform: translateX(20%) translateY(calc(-30% + 8px));
}

.third-section a {
  font-size: 1.2rem;
  color: white;
  border-bottom: 1px solid transparent;
}

.third-section a:hover {
  color: white;
  border-bottom: 1.3px solid white;
  transition: all 1s ease;
}

@media screen and (max-width: 800px) {
  .footer {
    display: block;
    text-align: center;
    padding-top: 1rem;
  }

  .first-section,
  .second-section,
  .third-section {
    margin-top: 2rem;
  }

  .call-icon {
    position: relative;
    left:-8%;
  }

  .third-section p {
    transform: translateY(-150%) translateX(2%);
  }
}
