@import './css-reset.css';

:root {
  --secondary-pink-0: #d9beb8;
  --secondary-pink-1: #fffbfa;
  --secondary-pink-2: #ffefec;
  --secondary-pink-3: #b7938a;
  --secondary-pink-4: #986c62;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-pink-2);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.active {
  color: var(--secondary-pink-3) !important;
  border-bottom: 1px solid var(--secondary-pink-3);
}

@media screen and (max-width: 900px) {
  .active::before,
  .active {
    background: linear-gradient(
      90deg,
      var(--secondary-pink-1) 0%,
      var(--secondary-pink-2) 25%,
      var(--secondary-pink-4) 100%
    );
  }
}
