@import './css-reset.css';

:root {
  --primary-color-0: #d9d5b8;
  --primary-color-1: #fffefa;
  --primary-color-2: #fffdec;
  --primary-color-3: #b7b28a;
  --primary-color-4: #989162;

  --secondary-pink-0: #d9beb8;
  --secondary-pink-1: #fffbfa;
  --secondary-pink-2: #ffefec;
  --secondary-pink-3: #b7938a;
  --secondary-pink-4: #986c62;

  --secondary-green-0: #849c8e;
  --secondary-green-1: #dadedb;
  --secondary-green-2: #aab8b0;
  --secondary-green-3: #638470;
  --secondary-green-4: #466d56;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-pink-2);
}