@import './css-reset.css';

:root {
  --secondary-pink-0: #d9beb8;
  --secondary-pink-1: #fffbfa;
  --secondary-pink-2: #ffefec;
  --secondary-pink-3: #b7938a;
  --secondary-pink-4: #986c62;

  --secondary-green-0: #849c8e;
  --secondary-green-1: #dadedb;
  --secondary-green-2: #aab8b0;
  --secondary-green-3: #638470;
  --secondary-green-4: #466d56;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-pink-2);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
